<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />


    <application
        android:name=".Activity.YourApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalCalciHide"
        tools:targetApi="31">
        <activity
            android:name=".Activity.Web_Browser"
            android:exported="false" />
        <activity
            android:name=".Activity.SelectVideosfromGallery"
            android:exported="false" />
        <activity
            android:name=".Activity.NoteActivityRecyclerView"
            android:exported="false" />
        <activity
            android:name=".Activity.FinalFileActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.SecutityQues"
            android:exported="false" />
        <activity
            android:name=".Activity.Setting"
            android:exported="false" />
        <activity
            android:name=".Activity.FileShow"
            android:exported="false" />
        <activity
            android:name=".Activity.RecycleBin"
            android:exported="false" />
        <activity
            android:name=".Activity.VideoHidden"
            android:exported="false" />
        <activity
            android:name=".Activity.Intruder"
            android:exported="false" />
        <activity
            android:name=".Activity.NotesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Calculator"
            android:exported="false" />
        <activity
            android:name=".Activity.SelectVideos"
            android:exported="false" />
        <activity
            android:name=".Activity.SelectImagesorVideos"
            android:exported="false"
            android:theme="@style/Theme.status_bar_clr" />
        <activity
            android:name=".Activity.ImageVideoBucket"
            android:exported="false"
            android:theme="@style/Theme.status_bar_clr" />
        <activity
            android:name=".Activity.SinglePV"
            android:exported="false"
            android:theme="@style/Theme.status_bar_clr" />
        <activity
            android:name=".ViewPager.ImageandVideoViewPager"
            android:exported="false"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".Activity.ImagesHidden"
            android:exported="false"
            android:theme="@style/Theme.status_bar_clr" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver android:name=".Activity.ForegroundReceiver" />
    </application>

</manifest>